{% extends "layouts/app.html" %}
{% load crispy_forms_tags %}

{% block title %} Edit Book {% endblock %}

{% block content %}

    <form action="{% url 'edit' book.id %}" method="post" novalidate>

        {% csrf_token %}
        <!-- {{ form|crispy }} -->

        <div class="row">
            <div class="col-6">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.user|as_crispy_field }}
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        {{ form.categories|as_crispy_field }}

        <button type="submit" class="btn btn-primary mb-1" >Update Book</button>

    </form>

{% endblock %}