{% extends "layouts/app.html" %}

{% block title %} Show Book {% endblock %}

{% block content %}

<div class="card mt-3" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ book.description }}</h6>
        <p>
            <a href="{% url 'edit' book.id %}" class="btn btn-outline-success btn-sm">edit</a> 
            <a href="{% url 'destroy' book.id %}" class="btn btn-outline-danger btn-sm">delete</a>
        </p>

    </div>
</div>

{% endblock %}